@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Figtree", sans-serif;
}

body {
	display: grid;
	place-content: center;
	min-height: 100vh;
	background: #000;
}

.container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 1em;
	width: 800px;
	height: 500px;
	transition: all 400ms;
}

.container:hover .box {
	filter: grayscale(100%) opacity(24%);
}

.box {
	position: relative;
	background: var(--img) center center;
	background-size: cover;
	transition: all 400ms;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .box:hover {
	filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover) {
	grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover) {
	grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.container:has(.box-3:hover) {
	grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.container:has(.box-4:hover) {
	grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.container:has(.box-5:hover) {
	grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
	transform: translateY(-16px);
}

.box:nth-child(even) {
	transform: translateY(16px);
}

.box::after {
	content: attr(data-text);
	position: absolute;
	bottom: 20px;
	background: #000;
	color: #fff;
	padding: 10px 10px 10px 14px;
	letter-spacing: 4px;
	text-transform: uppercase;
	transform: translateY(60px);
	opacity: 0;
	transition: all 400ms;
}

.box:hover::after {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 400ms;
}




/* header */

.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 9%;
    padding: 1.3rem 6%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 100;
  }
  
  .header::before {
    content: '';
    position: absolute ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 28, 28, 0.841);
    backdrop-filter: blur(30px); 
    z-index: -1;
  }
  
  .header::after {
    content: '';
    position: absolute ;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255, .4), transparent);
    transition: .5s;
  }
  
  .header:hover::after{
    left: 100%;
  }
  
  
  .logo {
    /* Updated styles for the logo */
    font-size: 1.5rem; /* Decrease font size */
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-right: auto; /* Push the logo to the left corner */
    
  }
  
  .logo img {
    /* Styles for the logo image */
    width: 40px; /* Set the width of the logo */
    height: auto; /* Maintain aspect ratio */
  }
  
  
  
  .navbar a{
  
    font-size: 1.15rem;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    
  }

.navbar a:hover {
    color: rgb(255, 37, 37);
}
  
  .navbar input {
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-size: 1.15rem;
    height: 37px;
    width: 25%; /* Adjust as needed */
    background: transparent;
    color: #fff;
    border: none;
    border: 2px solid rgb(255, 0, 0); /* Adjust color and opacity as needed */
    outline: none;
    border-radius: 37px;
    padding: 0 10px;
    transition: border 0.25s ease, width 0.125s ease 0.125s;
  
    /* Remove margin-left */
    /* margin-left: 2.5rem; */
  }
  
  .navbar input:focus {
    border: 2px solid #ff0000; /* Adjust focus border color */
    width: 40%; /* Adjust width on focus */
  }
  
  .navbar input::placeholder {
    color: #fff; /* Set placeholder color to white */
  }
  
  
  #check {
    display: none;
  }
  
  .icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  
  